.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.hero {
  position: absolute;
  z-index: -100;
}

.hero img {
  object-fit: contain;
  height: 100vh;
  width: 100vh;
}

.back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -200;
  display: flex;
}

.top {
  width: 50vw;
  height: 100vh;
  background-color: #cdedff;
}

.bottom {
  width: 50vw;
  height: 100vh;
  background-color: #fedef6;
}

@media (max-width: 600px) {
  .back {
    flex-direction: column;
  }

  .top {
    width: 100vw;
    height: 50vh;
  }

  .bottom {
    width: 100vw;
    height: 50vh;
  }

  .hero img {
    height: 100vw;
    width: 100vw;
  }
}
